<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>订单明细</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body class="container">
<h1>订单明细</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <td>书名</td>
            <td>售价</td>
            <td>数量</td>
            <td>应收货款</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderitem:${orderitem}">
            <td th:text="${orderitem.bookId}">暂无</td>
            <td th:text="${orderitem.price}">暂无</td>
            <td th:text="${orderitem.quantity}">暂无</td>
            <td th:text="${orderitem.price*orderitem.quantity}">暂无</td>
        </tr>
        </tbody>
    </table>
</div>
<br/><br/>
<h1>收货人详细信息</h1>
<br/><br/>
<div class="with:80%">
<table class="table table-hover">
<thead>
<tr>
<td>用户</td>
<td>手机号</td>
<td>地址</td>
<td>邮箱</td>
</tr>
</thead>
<tbody>
<tr th:each="user1:${user1}">
<td th:text="${user1.username}">暂无</td>
<td th:text="${user1.phone}">暂无</td>
<td th:text="${user1.address}">暂无</td>
<td th:text="${user1.email}">暂无</td>
</tr>
</tbody>
</table>
    <a href="#">确认发货</a>
</div>
</body>
</html>