<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <script src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>welcome</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
<div id="header"></div>
<div id="container" style="text-align: center"></div>
<div id="footer"></div>
<script type="text/javascript">
    $("#header").load("client/header.html");
    $("#container").load("client/body.html");
    $("#footer").load("client/footer.html");
</script>
</body>
</html>